<header class="site-header clearfix">
  <div class="wrapper-content">
    <div class="site-logo">
      <a href="{{ "/" | relative_url }}" title="Navigate to Home">{{ site.title | escape }}</a>
    </div>

    <div class="navigation-wrap">
      <nav class="site-nav">
        {% for page in site.pages %}
          {% unless page.name == 'style-guide.md' or page.name == '404.html' %}
            {% if page.title %}
              <a href='{{ page.url | prepend: site.baseurl }}' title="Navigate to {{ page.title }} page">{{ page.title }}</a>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </nav>
    </div>

    <div class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <span class="search-toggle" title="Indicate search bar">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
  </div>
</header> <!-- /.site-header -->
