<header class="site-header clearfix">
  <div class="wrapper-content">
    <div class="site-logo">
      <a href="{{ "/" | relative_url }}" title="Navigate to Home">{{ site.title | escape }}</a>
    </div>

    <div class="navigation-wrap">
      <nav class="site-nav">
        <!-- 카테고리로 추가되는 페이지들을 제외하고 메뉴에 표시 -->
        {% for page in site.pages %}
          {% if page.name == 'about.md' or page.name == 'categories.html' or page.name == 'contact.html' or page.name == 'tags.html' %}
            {% if page.title %}
              <a href='{{ page.url | prepend: site.baseurl }}' title="Navigate to {{ page.title }} page">{{ page.title }}</a>
            {% endif %}
          {% endif %}
          <!-- {% unless page.name == 'style-guide.md' or page.name == '404.html' %}
            {% if page.title %}
              <a href='{{ page.url | prepend: site.baseurl }}' title="Navigate to {{ page.title }} page">{{ page.title }}</a>
            {% endif %}
          {% endunless %} -->
        {% endfor %}
      </nav>
    </div>

    <div class="nav-toggle" title="Popup menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <span class="search-toggle" title="Popup modal search box">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
  </div>
</header> <!-- /.site-header -->
