<div class="hero" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0, #fff 90%), url({{"/images/main/" | prepend: site.baseurl | append : site.hero}})">
  <div class="hero-content">
    <h1 class="hero-title">{% if site.hero-title %}{{site.hero-title}}{% else %}Welcome to <span>JohnnyPark</span>{% endif %}</h1>
    <div class="hero-description">{% if site.hero-description %}{{site.hero-description}}{% else %}Once it's coincidental, Twice there must be something relationship, Eventually it’s gonna be destiny.{% endif %}</div>
  </div>
</div> <!-- /.hero -->