<div class="search-box">
  <div class="wrapper-content">
    <form class="search-form">
      <label class="screen-reader-text" for="search-input">Search for Blog</label>
      <input type="text" id="search-input" class="search-field" name="s" placeholder="Type to search...">
      <!-- <input type="reset" value="Clear"> -->
    </form>
    <div class="btn-remove">
      <span class="bt-search-remove">
        <i class="fa fa-eraser" aria-hidden="true"></i>
      </span>
    </div>
    <div class="btn-close">
      <span class="bt-search-close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign tag_words = site_tags | split:',' | sort %}
  <section class="blog-tags">
    <ul class="tags clearfix">
      {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <li><a href="#{{ this_word | cgi_escape }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
      {% endunless %}{% endfor %}
    </ul>
  </section>
  <ul id="results-container" class="search-results-list"></ul>  
</div> <!-- /.search-box -->