<div class="search-box" aria-modal="true" role="dialog">
  <div class="wrapper-content">
    <form class="search-form">
      <label class="screen-reader-text" for="search-input">Search for Blog</label>
      <input type="text" id="search-input" class="search-field" name="s" placeholder="Type to search...">
    </form>
    <div class="btn-remove" title="Remove text to type new text">
      <span class="bt-search-remove">
        <i class="fa fa-eraser" aria-hidden="true"></i>
      </span>
    </div>
    <div class="btn-close" title="Close search bar">
      <span class="bt-search-close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  {% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign category_words = site_categories | split:',' | sort %}
  <div class="blog-categories">
    <ul class="categories clearfix">
      <a href="{{ site.url }}/categories" class="bar-title" title="Navigate to Categories page">Categories:</a>
      {% for item in (0..site.categories.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
        <li><a href="" class="category" title="{{ this_word }} category">{{ this_word }} <span>({{ site.categories[this_word].size }})</span></a></li>
      {% endunless %}{% endfor %}
    </ul>
  </div>
  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign tag_words = site_tags | split:',' | sort %}
  <div class="blog-tags">
    <ul class="tags clearfix">
      <a href="{{ site.url }}/tags" class="bar-title" title="Navigate to Tags page">Tags:</a>
      {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <li><a href="" class="tag" title="{{ this_word }} tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
      {% endunless %}{% endfor %}
    </ul>
  </div>
  <ul id="results-container" class="search-results-list"></ul>  
</div> <!-- /.search-box -->