$white: #ffffff;
$grayish: #f7f7f7;
$lightengray: #787878;
$gray: #5b5b5b;
$darkgray: #323232;
$black: #000000;

// Main colors
$current-body-color: rgba(255, 162, 81, 0.1);

$brown: #8D4801;
$brown-highlighted: rgba(141, 72, 1, 0.7);
$brown-transparency: rgba(182, 162, 145, 0.5);
$graybrown: #9b9184;
$lightbrown: #a79f96;
$lightorange: #b2a894;

$turquoisergba: rgba(186, 142, 119, 0.6);
$light-turquoisergba: rgba(186, 142, 119, 0.1);

// social colors
$github-color: #181717;
$facebook-color: #1877F2;
$instagram-color: #E4405F;
$linkedin-color: #0A66C2;
$twitter-color: #1D9BF0;
$pinterest-color: #bd081c;

// common border radius
$common-border-radius: 14px;