---
layout: default
---
<div class="page-header" style="background: url({{"/images/pages/" | prepend: site.baseurl | append : page.image}})">
  <h1 class="page-title">{{ page.title | escape }} category</h1>
</div>

{% assign offset = 0 %}
{% assign currentPage = 1 %}
{% assign filteredPosts = site.posts | where_exp:"item", "item.categories contains page.title" %}
{% assign postCount = filteredPosts | size %}
{% assign postsPerPage = site.paginate %}
{% assign totalPages = postCount | divided_by: postsPerPage %}
{% assign moduloPages = postCount | modulo: postsPerPage %}
{% if moduloPages > 0 %}
  {% assign totalPages = totalPages | plus: 1 %}
{% endif %}

<div class="content-wrap">
  <div class="wrapper" data-page="{{ currentPage }}" data-totalPages="{{ totalPages }}">
  {% for post in filteredPosts limit:postsPerPage offset:offset %}
   {% assign author = site.authors[post.author] %}
    <article class="posts">
      {% if post.img %}
        <a class="post-thumbnail hidden" style="background-image: url({{"/images/posts/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}" title="Navigate to {{ post.title }} post">
          {% if author %}
          <div class="author-box">
            <div class="author-image-cover">
              <div class="author-image-small" style="background-image: url({{"/images/authors/" | prepend: site.baseurl | append: author.author-image}})"></div>
            </div>
            <div class="author-info">
              <span class="meta">Date: <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span><br>
              <span>Author: {{ author.author-name }}</span>
            </div>
          </div>
          {% else %}
          <div class="author-box">
            <div class="author-image-cover">
              <div class="author-image-small" style="background-image: url({{"/images/authors/" | prepend: site.baseurl | append: site.author-image}})"></div>
            </div>
            <div class="author-info">
              <span class="meta">Date: <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span><br>
              <span>Author: {{ site.author-name }}</span>
            </div>
          </div>
          {% endif %}
          <div class="cover"></div>
        </a>
      {% endif %}
      <div class="post-body {{ body-full }}">
        <h2><a href="{{post.url | prepend: site.baseurl}}" title="Navigate to {{ post.title }} post">{% if post.flag %}<img class="flag-icon" src="https://pub-056cbc77efa44842832acb3cdce331b6.r2.dev/world-flags/{{ post.flag }}.png">{% endif %}{{post.title}}</a></h2>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncatewords: 20 }}{% endif %}</p>
        <a href="{{site.baseurl}}{{ post.url }}" title="Navigate to {{ post.title }} post" class="more">Read more</a>
      </div>
      <div class="post-share">
        <a class="share-icon share-twitter" href="https://twitter.com/intent/tweet?text={{ post.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ post.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a>

        <a class="share-icon share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ post.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook" rel="nofollow"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        
        <a class="share-icon share-pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ post.url }}&amp;media={{ site.url }}/images/pages/{{ post.img }}&amp;description={{ post.title | uri_escape }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      </div>
    </article> <!-- /.posts -->
  {% endfor %}
  </div> <!-- /.wrapper -->
</div> <!-- /.content-wrap -->

<div class="pagination-box">
  {% assign postsCovered = postsPerPage | plus:offset %}
  {% if postsCovered < postCount %}
    <button class="load-more-filtered btn btn-middle" title="Load more posts">Load more posts</button>
  {% endif %}
</div> <!-- /.pagination-box -->