@use '../variables'; // import를 use로 바꾸면서 전역변수를 사용하려는 vendor 파일에선 use구문 추가 필요

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px 0;
  background-color: transparent;
  a {
    font-family: 'Lato', sans-serif;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: variables.$white;
    transition: all .2s ease;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.site-footer {
  position: relative;
  .footer-lists {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: peachpuff;
    // background-color: burlywood;
    .list-wrapper {
      flex: 1 1 0;
      min-width: 0;
      margin: 30px 15px;
      .list-title {
        font-family: "Dancing Script", cursive;
        font-size: 24px;
        font-weight: 700;
      }
      .footer-list {
        list-style: none;
        padding: 0;
        min-width: 0;
        li {
          background-color: rgb(235, 181, 115);
          border-radius: variables.$common-border-radius;
          transition: all 0.35s ease;
          &:hover {
            background-color: variables.$white;
            transform: translate(0px, -3px);
            box-shadow: 0 15px 45px -10px rgba(10,16,34,0.2);
            // box-shadow: 0 15px 45px -10px rgba(240,239,221,0.8);
          }
          a {
            text-decoration: none;
          }
          .element-box {
            display: flex;
            min-width: 0;
          }
          .element-image {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            flex-basis: 120px;
            flex-shrink: 1;
            .img-icon {
              display: block;
              width: 100px; 
              height: 100px;
              background-size: cover;
              background-position: center;
              border-radius: 50%;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .element-info {
            padding: 20px;
            flex-shrink: 4;
            min-width: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div {
              i {
                display: inline-block;
                color: variables.$black;
                margin-right: 6px;
              }
              p {
                display: inline-block;
                margin: 0;
                font-weight: bold;
                font-family: 'Gowun Batang', serif;
              }
            }
            .element-title {
              display: flex;
              width: 100%;
            }
            .element-title p {
              color: maroon;
              display: block;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .element-date {
              font-size: 14px;
            }
            &:hover div p {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .footer-wrapper {
    background-color: variables.$brown;
    position: relative;
    z-index: 1;
    padding: 50px 15px;
  }
  .footer-heading {
    margin: 0 0 30px;
    font-size: 37px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    color: variables.$white;
  }
}

.social-footer {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  list-style: none;
  li {
    margin-right: 20px;
    display: inline;
    &:nth-child(1) {
      a:hover {
        color: variables.$github-color;
      }
    }
    &:nth-child(2) {
      a:hover {
        color: variables.$facebook-color;
      }
    }
    &:nth-child(3) {
      a:hover {
        color: variables.$instagram-color;
      }
    }
    &:nth-child(4) {
      a:hover {
        color: variables.$linkedin-color;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      color: variables.$white;
      transition: all 0.2s ease;
    }
  }
}
// sns별로 hover 색상 변경으로 원본 주석
// .social-footer {
//   margin: 0 0 30px;
//   padding: 0;
//   text-align: center;
//   list-style: none;
//   li {
//     margin-right: 20px;
//     display: inline;
//     &:last-child {
//       margin-right: 0;
//     }
//     a {
//       text-decoration: none;
//       color: variables.$white;
//       transition: all 0.2s ease;
//       &:hover {
//         color: variables.$brown;
//       }
//     }
//   }
// }

.visits-counter {
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  color: variables.$white;
  letter-spacing: 2px;
  font-family: "PT Serif", serif;
  margin: 0 0 30px;
}

.copyright {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: variables.$white;
  p {
    color: variables.$white;
    margin: 0;
    a {
      text-decoration: none;
      color: variables.$white;
      transition: all 0.2s ease;
      &:hover {
        color: variables.$lightorange;
      }
    }
  }
}

@media (max-width: 992px) {
  .site-footer {
    .footer-lists {
      flex-direction: column;
      align-items: center;
    }
    .footer-lists .list-wrapper {
      width: 80%;
    }
  }
}

@media screen and (max-width: 576px) {
  .site-footer {
    .footer-wrapper {
      padding: 40px 15px;
    }
    .footer-heading {
      font-size: 30px;
    }
  }
  .before-footer {
    a {
      font-size: 10px;
      margin-right: 10px;
    }
  }
}