.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px 0;
  background-color: transparent;
  a {
    font-family: 'Lato', sans-serif;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: $white;
    transition: all .2s ease;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.site-footer {
  position: relative;
  background-color: $brown;
  .footer-wrapper {
    position: relative;
    z-index: 1;
    padding: 100px 15px;
  }
  .footer-heading {
    margin: 0 0 30px;
    font-size: 37px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    color: $white;
  }
}

.social-footer {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  list-style: none;
  li {
    margin-right: 20px;
    display: inline;
    &:nth-child(1) {
      a:hover {
        color: $github-color;
      }
    }
    &:nth-child(2) {
      a:hover {
        color: $facebook-color;
      }
    }
    &:nth-child(3) {
      a:hover {
        color: $instagram-color;
      }
    }
    &:nth-child(4) {
      a:hover {
        color: $linkedin-color;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      color: $white;
      transition: all 0.2s ease;
    }
  }
}
// sns별로 hover 색상 변경으로 원본 주석
// .social-footer {
//   margin: 0 0 30px;
//   padding: 0;
//   text-align: center;
//   list-style: none;
//   li {
//     margin-right: 20px;
//     display: inline;
//     &:last-child {
//       margin-right: 0;
//     }
//     a {
//       text-decoration: none;
//       color: $white;
//       transition: all 0.2s ease;
//       &:hover {
//         color: $brown;
//       }
//     }
//   }
// }

.copyright {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: $white;
  p {
    color: $white;
    margin: 0;
    a {
      text-decoration: none;
      color: $white;
      transition: all 0.2s ease;
      &:hover {
        color: $lightorange;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .site-footer {
    .footer-wrapper {
      padding: 80px 15px;
    }
    .footer-heading {
      font-size: 30px;
    }
  }
  .before-footer {
    a {
      font-size: 10px;
      margin-right: 10px;
    }
  }
}