.site-header {
  // 타이틀 고정용 - 필요 없으면 여기만 빼고 바로 아래 position: relative로 변경
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  // ---------------
  height: 60px;
  position: fixed;
  // position: relative;
  background-color: $brown;
  overflow: hidden;
}

.site-logo {
  float: left;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
  a {
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    color: $white;
  }
}

.navigation-wrap {
  height: 60px;
  position: relative;
}

.site-nav {
  float: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  a {
    position: relative;
    font-size: 12px;
    padding: 22px 30px;    
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.8px;
    line-height: 60px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    transition: all 0.2s ease;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  &.open {
    transform: translateX(0px);
  }
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 992px) {
  .wrapper-content {
    position: static;
  }

  .site-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
  }
  .navigation-wrap {
    width: 250px;
    height: 100vh;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: -260px;
    bottom: 0;
    left: auto;
    background-color: rgba(141, 72, 1, 0.95);
    overflow-y: auto;
    z-index: 10;
    transition: right .35s ease;
    // transition: right .35s cubic-bezier(0.565, 1.65, 0.765, 0.90);
    &.open {
      right: 0;
    }
  }
  .site-nav {
    float: none;
    transform: none;
    top: 0;
    left: 0;
    // 타이틀 고정용 - 필요 없으면 아래 margin-top 삭제 변경
    margin-top: 60px;
    // ---------------
    margin-bottom: 40px;
    a {
      display: block;
      text-align: center;
      line-height: 0.9;
      font-size: 12px;
      padding: 25px 30px;
      margin: 0;
      border-bottom: 1px solid rgba(31, 42, 51, 0.1);
      transition: all 0.2s ease;

      &:hover {
        background-color: darken(rgba(141, 72, 1, 0.8), 10%);
        color: $white;
      }
    }
  }

  .nav-toggle {
    display: block;
    width: 24px;
    height: 14px;
    position: absolute;
    cursor: pointer;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: all 0.3s ease;
    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $white;
      z-index: -1;
      top: -13px;
      left: 8px;
      transform: translateX(-50%) scale(0);
      transition: all 0.3s ease;
    }
    &:hover {
      span {
        background-color: $brown;
      }
      &:before {
        transform: translateX(-50%) scale(1);
      }
    }
    span {
      position: absolute;
      height: 2px;
      width: 70%;
      background-color: $white;
      transition: 0.5s;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        width: 60%;
      }
      &:nth-child(3) {
        top: 100%;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }
}