@use '../variables'; // import를 use로 바꾸면서 전역변수를 사용하려는 vendor 파일에선 use구문 추가 필요

.info-box {
  width: 100%;
  min-height: 60px;
  background-color: variables.$white;
  padding: 0 0 60px;
}

.info-social {
  // 숨겨둔 info-newsletter 다시 사용시 50%로 변경해야함
  // width: 50%;
  width: 100%;
  float: left;
}

.info-social-list {
  width: 100%;
  list-style: none;  
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
    &:nth-child(1) {
      a {
        &:before {
          background-color: variables.$github-color;
        }
      }
    }
    &:nth-child(2) {
      a {
        &:before {
          background-color: variables.$facebook-color;
        }
      }
    }
    &:nth-child(3) {
      a {
        &:before {
          background-color: variables.$instagram-color;
        }
      }
    }
    &:nth-child(4) {
      a {
        &:before {
          background-color: variables.$linkedin-color;
        }
      }
    }
    a {
      font-size: 21px;
      color: variables.$black;
      width: 25%;
      float: left;
      text-align: center;
      line-height: 60px;
      z-index: 1;
      position: relative;
      transition: all 0.3s ease;
      &:before {
        content: '';
        position: absolute;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%) scale(0);
        transition: all 0.3s ease;
      }
      &:hover {
        color: variables.$white;
        &:before {
          transform: translateX(-50%) scale(1);
        }
      }
    }
  }
}
// sns별로 hover 색상 변경으로 원본 주석
// .info-social-list {
//   width: 100%;
//   list-style: none;  
//   margin: 0;
//   padding: 0;
//   li {
//     padding: 0;
//     margin: 0;
//     a {
//       width: 20%;
//       float: left;
//       text-align: center;
//       line-height: 60px;
//       &:hover {
//         background-color: variables.$brown-transparency;
//       }
//     }
//     a, span {
//       font-size: 21px;
//       color: variables.$black;
//       transition: all 0.2s ease;
//       &:hover {
//         color: variables.$brown;
//       }
//     }
//     span {
//       cursor: pointer;
//     }
//   }
// }

.info-newsletter {
  width: 50%;
  float: right;
}

.newsletter {
  margin: 0 auto;
  border: none;
}

.newsletter-form {
  input[type="email"] {
    color: variables.$lightengray;
    border-top-left-radius: variables.$common-border-radius;
    border-bottom-left-radius: variables.$common-border-radius;
  }
  .c-newsletter-form-group {
    display: flex;
  }
}

.c-newsletter-email {
  width: 70%;
  height: 60px;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid rgba(120, 120, 120, 0.19);
  outline: none;
}

.newsletter-button {
  width: 30%;
  height: 60px;
  padding: 20px 0;
  border-radius: 0;
  border-top-right-radius: variables.$common-border-radius;
  border-bottom-right-radius: variables.$common-border-radius;
}

@media only screen and (max-width: 992px) {
  .info-box {
    padding: 40px 0;
  }
  .info-social, .info-newsletter {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .info-social-list li a, .info-social-list li span {
    font-size: 18px;
  }
  .c-newsletter-email {
    height: 50px;
  }
  .newsletter-button {
    height: 50px;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 480px) {
  .newsletter-button {
    font-size: 13px;
  }
}