@use '../variables'; // import를 use로 바꾸면서 전역변수를 사용하려는 vendor 파일에선 use구문 추가 필요

.pagination-box {
  margin-bottom: 110px;
  padding: 0 15px;
  text-align: center;
  .load-more {
    border-radius: variables.$common-border-radius;
  }
}

@media screen and (max-width: 480px) {
  .pagination-box {
    margin-bottom: 50px;
  }
}