@use '../variables'; // import를 use로 바꾸면서 전역변수를 사용하려는 vendor 파일에선 use구문 추가 필요

.blog-tags {
	font-family: 'Gowun Batang', serif;
	.tags {
		margin: 0 0 40px;
		padding: 0;
		list-style: none;
		li {
			float: left;
			margin: 0 10px 10px 0;
			// leaf
			z-index: auto;
			&:hover {
				z-index: 1;
			}
			// 여기까지 -- leaf
			a {
				display: inline-block;
				padding: 5px 10px;
				font-size: 14px;
				font-weight: 700;
				color: variables.$white;
				background-color: mediumseagreen;
				text-decoration: none;
				border-radius: variables.$common-border-radius;
				transition: all .25s ease;
				&:hover {
					background-color: #8E828E;
				}
			}
		}
	}

	.elements-tree {
		margin-bottom: 27px;
	}

	h2 {
		padding-left: 10px;
		border-left: 3px solid variables.$lightbrown;
		font-size: 20px;
		font-weight: 700;
		font-family: 'Gowun Batang', serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 10px 0;
	}
}

.tag-list {
	margin-bottom: 5px;
	span {
		a {
      font-size: 16px;
			font-weight: 700;
			color: darkgreen;
			text-decoration: none;
			transition: all .25s ease;
		}
		&:hover {
			a {
				color: #8E828E;
				// color: #463D10;
			}
		}
	}
	.category {
		background-color: limegreen;
	}
	.tag {
		background-color: yellowgreen;
	}
	.category, .tag {
		display: inline-block;
		padding: 0px 7px;
		font-size: 14px;
		font-weight: 700;
		color: variables.$white;
		text-decoration: none;
		border-radius: variables.$common-border-radius;
		transition: all .25s ease;
		&:hover {
			background-color: #8E828E;			
		}
	}
}