@use '../variables'; // import를 use로 바꾸면서 전역변수를 사용하려는 vendor 파일에선 use구문 추가 필요

.contact-subtitle {
  max-width: 600px;
  margin: 0 auto 40px;
  text-align: center;
  color: variables.$gray;
}

.form {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  .form-group {
    margin-bottom: 20px;
    &:last-child {
      margin: 40px 0 0;
    }
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 11px;
      text-transform: uppercase;
      color: variables.$gray;
    }
    .form-input {
      height: 40px;
    }
    .form-input,
    .form-textarea {
      width: 100%;
      padding: 8px 10px;
      font-size: 14px;
      border: 2px solid #f2f4fa;
      border-radius: variables.$common-border-radius;
      outline: none;
      resize: none;
      color: variables.$gray;
      transition: all .25s ease;
      &:focus {
        border: 2px solid rgba(141, 72, 1, 0.3);
      }
    }
  }
}