.blog-tags {
	font-family: 'Gowun Batang', serif;
	.tags {
		margin: 0 0 40px;
		padding: 0;
		list-style: none;
		li {
			float: left;
			margin: 0 10px 10px 0;
			a {
				display: inline-block;
				padding: 5px 10px;
				font-size: 14px;
				font-weight: 700;
				color: $white;
				background-color: darkseagreen;
				text-decoration: none;
				border-radius: $common-border-radius;
				transition: all .25s ease;
				&:hover {
					background-color: #8E828E;			
				}
			}
		}
	}

	h2 {
		font-size: 16px;
		font-weight: 700;
		font-family: 'Gowun Batang', serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 32px 0;
	}
}

.tag-list {
	margin-bottom: 5px;
	span {
		a {
      font-size: 16px;
			font-weight: 700;
			color: darkgreen;
			text-decoration: none;
			transition: all .25s ease;
		}
		&:hover {
			a {
				color: #8E828E;
				// color: #463D10;
			}
		}
	}
	.category {
		background-color: limegreen;
	}
	.tag {
		background-color: yellowgreen;
	}
	.category, .tag {
		display: inline-block;
		padding: 0px 7px;
		font-size: 14px;
		font-weight: 700;
		color: $white;
		text-decoration: none;
		border-radius: $common-border-radius;
		transition: all .25s ease;
		&:hover {
			background-color: #8E828E;			
		}
	}
}