@use '../variables'; // import를 use로 바꾸면서 전역변수를 사용하려는 vendor 파일에선 use구문 추가 필요

.content-box {
  width: 740px;
  max-width: 100%;
  margin: 80px auto;
}

.post {
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  // background-color: variables.$white;

  .post-content {
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin-bottom: 40px;
    h2 {
      color: brown;
      font-weight: 700;
      padding-left: 10px;
      border-left: 3px solid variables.$lightbrown;
    }
    h3 {
      font-weight: 700;
    }
    h3::before {
      content: " 🌳 ";
      margin-right: 10px;
    }
    h4 {
      color: variables.$brown;
      font-weight: 700;
    }
    h4::before {
      content: " 💐 ";
      margin-right: 10px;
    }
    h5::before {
      content: " 🌿 ";
      margin-right: 10px;
    }
    h6::before {
      content: " 🍀 ";
      margin-right: 10px;
    }
    h1, h2, h3, h4, h5, h6, p {
      font-family: 'IBM Plex Sans KR', sans-serif;
    }
  }
}

.post-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  min-height: 700px;
  background-color: rgba(220, 235, 245, 0.2) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  animation: opacity-image 1.5s ease-out;
  animation-fill-mode: both;
  &::before {
    content: "";
    display: block;
    padding-top: 35%;
  }
}

.post-header-info {
  max-width: 960px;
  padding: 0 15px;
  text-align: center;
  .post-title {
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Gowun Batang', serif;
    line-height: 1.3;
    color: variables.$white;
    text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.10);
    animation: slideup 2s 0.5s ease-out both;
    .flag-icon{
      display: inline-block;
      height: 60px;
      width: 80px;
      background-size: cover;
      background-position: center;
      margin-right: 0.3em;
    }
  }
  .post-meta {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;
    text-transform: uppercase;
    color: variables.$white;
    text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.10);
    animation: opacity-image 2s 0.5s ease-out both;
  }
}

.post-footer {
  .post-footer-list {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;

    li {
      display: inline-block;
      font-size: 14px;
      font-weight: 300px;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }

      a {
        color: #5b5b5b;
        text-decoration: none;
        transition: all 0.25s ease;
        &:hover {
          color: variables.$graybrown;
          transition: all 0.25s ease;
          i {
            transform: scale(1.2);
            transform: translateY(-3px);          
          }
        }

        i {
          padding-right: 10px;
          transition: all 0.25s ease-in-out;
        }

        &.post-twitter {
          color: variables.$twitter-color;
        }

        &.post-facebook {
          color: variables.$facebook-color;
        }

        &.post-pinterest {
          color: variables.$pinterest-color;
        }
      }
    }
  }
  .post-category, .post-tag {
    .category, .tag {
      display: inline-block;
      margin-top: 10px;
			padding: 5px 10px;
      font-size: 13px;
      font-weight: 600;
      font-family: "Gowun Batang", serif;
      color: variables.$white;
      text-decoration: none;
      border-radius: variables.$common-border-radius;
      transition: all .25s ease;
      &:hover {
        background-color: #8E828E;
      }
    }
    .bar-title {
      font-family: "Dancing Script", cursive;
      font-weight: 700;
      font-size: 18px;
      margin-right: 6px;
      color: #5b5b5b;
      text-decoration: none;
    }
    .category {
      background-color: darkseagreen;
    }
    .tag {
      background-color: mediumseagreen;
    }
  }
  .post-category {
    padding-top: 20px;
    border-top: 1px solid #c9c9c9;
  }
  .post-tag {
    margin-bottom: 40px;
  }
}

iframe[src*="google"],
div[id*="panorama"] {
  border: 1px solid variables.$brown;
  border-radius: variables.$common-border-radius;
  width: 80%;
  max-width: 1080px;
  aspect-ratio: 4 / 3;
  height: auto;
}

// 목차의 첫 글자를 변화시키지 않도록 수정
// .post-content::first-letter,
.post-content>p:first-of-type::first-letter {
  display: block;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  font-size: 55px;
  color: brown;
  line-height: 0.6;
}

@media screen and (max-width: 576px) {
  .post-footer {
    .post-footer-list {
      li {
        // sns요소가 추가되면 가로로 넘어가서 해둔 것 같은데 지금은 보기싫어서 주석
        // display: block;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.post-author {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 40px;
  background-color: rgba(170, 177, 199, 0.2);
  border-radius: variables.$common-border-radius;

  .post-author-image {
    margin-right: 20px;
    img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
    }
    span {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .post-author-info {
    width: 100%;
    h2 {
      font-size: 24px;
      margin: 0 0 10px;
      padding: 0;
      border: none;
    }

    .post-author-bio {
      font-size: 14px;
      font-family: Roboto, sans-serif;
      margin-bottom: 0;
    }

    .post-author-meta {
      margin-top: 10px;
      a {
        font-size: 14px;
        color: variables.$lightbrown;
        margin-right: 15px;
        position: relative;
        transition: all 0.3s ease;
        &:nth-child(1):before {
          background-color: variables.$github-color;
        }
        &:nth-child(2):before {
          background-color: variables.$facebook-color;
        }
        &:nth-child(3):before {
          background-color: variables.$instagram-color;
        }
        &:nth-child(4):before {
          background-color: variables.$linkedin-color;
        }
        &:nth-child(5):before {
          background-color: variables.$brown;
        }
        &:hover {
          color: #fff;
        }
        &:before {
          content: '';
          position: absolute;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%) scale(0);
          transition: all 0.3s ease;
        }
        &:hover:before {
          transform: translateX(-50%) scale(1);
        }
      }
    }
  }
}

.page-navigation {
  margin-bottom: 40px;

  .prev-page {
    float: left;
    text-align: left;
  }

  .next-page {
    float: right;
    text-align: right;
  }

  .prev-page, .next-page {
    font-size: 18px;
    white-space: nowrap;
    color: #222222;
    &:hover {
      span {
        color: variables.$black;
      }
    }

    i {
      vertical-align: middle;
      font-size: 21px;
    }

    span {
      display: inline-block;
      max-width: 300px;
      padding: 0 15px;
      white-space: nowrap;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all .25s;
    }
  }
}

.prev-page {
  &:hover {
    span {
      transform: translateX(-5px);
    }
  }
}

.next-page {
  &:hover {
    span {
      transform: translateX(5px);
    }
  }
}

.comments-area {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #c9c9c9;
  fieldset {
    border: none;
    border-radius: variables.$common-border-radius;
    background-color: rgba(141, 72, 1, 0.3);
  }
  legend {
    font-family: "Dancing Script", cursive;
    font-size: 28px;
    font-weight: 700;
  }
  .comments-input,
  .comments-textarea {
    padding: 8px 10px;
    font-size: 14px;
    border: 2px solid #f2f4fa;
    border-radius: variables.$common-border-radius;
    outline: none;
    &:focus {
      border: 2px solid variables.$brown;
    }
  }
  .comments-input {
    width: 50%;
    box-sizing: border-box;
  }
  .comments-textarea {
    margin-top: 6px;
    width: 100%;
    resize: none;
  }
  .comments-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .comments-btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 6px;
  }
  .comments-btn {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    border: none;
    border-radius: variables.$common-border-radius;
    background-color: variables.$brown;
    color: variables.$white;
    transition: all 0.5s ease;
    padding: 8px 10px;
    cursor: pointer;
    &:hover {
      animation: shaking 1s 0s ease-out both;
      background-color: peachpuff;
      color: variables.$black;
    }
  }
  .comments-list {
    margin-top: 20px;
    .comment-wrapper {
      position: relative;
      width: 80%;
      padding: 8px 10px;
      border-radius: variables.$common-border-radius;
      .comment {
        font-family: "Gowun Batang", serif;
        i {
          margin-right: 6px;
        }
        .comment-name {
          font-weight: 700;
          padding: 8px 10px;
          border-top-left-radius: variables.$common-border-radius;
          border-top-right-radius: variables.$common-border-radius;
          background-color: rgba(141, 72, 1, 0.3);
        }
        .comment-contents {
          font-weight: 550;
          padding: 8px 10px;
          background-color: variables.$white;
        }
        .comment-date {
          padding: 0 10px 3px 10px;
          border-bottom-left-radius: variables.$common-border-radius;
          border-bottom-right-radius: variables.$common-border-radius;
          background-color: variables.$white;
          font-size: 12px;
          color: #666;
        }
        .reply-btn {
          font-family: "Dancing Script", cursive;
          font-weight: 700;
          cursor: pointer;
          border: none;
          background-color: rgba(255, 255, 255, 0);
          &:hover {
            animation: awkward 1s 0s ease-out both;
          }
        }
      }
      &.has-parent::before {
        content: "└";
        position: absolute;
        left: 0;
        color: #666;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .page-navigation {
    .prev-page, .next-page {
      margin-bottom: 10px;
      display: block;      
      float: none;
      text-align: center;
    }
  }
}

@media screen and (max-width: 720px) {
  .post-header {
    min-height: 420px;
  }

  .post-header-info {
    .post-title {
      font-size: 40px;
      .flag-icon{
        height: 40px;
        width: 53px;
      }
    }

    .post-meta {
      font-size: 16px;
    }
  }

  .post-author {
    flex-direction: column;
    align-items: center;

    .post-author-image {
      margin: 0 0 10px;
    }

    .post-author-info {
      text-align: center;
    }
  }

  .content-box {
    margin: 50px auto;
  }
}

@media screen and (max-width: 576px) {
  .post-header {
    min-height: 420px;
  }

  .page-navigation {
    .prev-page, .next-page {
      span {
        max-width: 270px;
      }
    }
  }
}