@use '../variables'; // import를 use로 바꾸면서 전역변수를 사용하려는 vendor 파일에선 use구문 추가 필요

.top {
  position: fixed;
	bottom: 20px;
	color: darkseagreen;
	font-size: 21px;
	text-align: center;
	cursor: pointer;
	transition: all .25s ease;
	right: -100px;
	z-index: 10;
	opacity: .5;
  border: 3px solid darkseagreen;
  border-radius: variables.$common-border-radius;
  
  i {
    line-height: 0;
  }
  
  &.top-active {
    right: 20px;
  }
  
  &:hover {
    color: #8E828E;
		opacity: 1;
    border-color: #8E828E;
  }
}