@use '../variables'; // import를 use로 바꾸면서 전역변수를 사용하려는 vendor 파일에선 use구문 추가 필요

// SEARCH BOX
.search-box {
  width: 80%;
  height: 80%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 1px solid variables.$brown;
  border-radius: variables.$common-border-radius;
  transition: all 0.3s ease-in-out;

  &.show {
    display: block;
    z-index: 666;
    .wrapper-search ::selection {
      background: rgba(250, 181, 112, 0.7);
      color: #ffffff;
    }
  }
  .blog-categories, .blog-tags {
    width: 100%;
    height: 52px;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    .bar-title {
      font-weight: 700;
      color: #ffffff;
      float: left;
      margin: 0 10px 10px 0;
      text-decoration: none;
    }
  }
  .blog-categories {
    top: 60px;
    background: linear-gradient(90deg, variables.$brown, rgb(198, 163, 128));
  }
  .blog-tags {
    top: 112px;
    background: linear-gradient(90deg, rgb(198, 163, 128), variables.$white);
  }
}

.wrapper-search {
  position: static;
}

.search-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 15px;
  color: variables.$white;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 10;
  &:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: variables.$white;
    z-index: -1;
    top: -8px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: all 0.3s ease;
  }
  &:hover {
    color: variables.$brown;
    &:before {
      transform: translateX(-50%) scale(1);
    }
  }
}

.search-form {
  input[type="text"] {
    font-family: "Gowun Batang", serif;
    font-size: 16px;
    font-weight: 700;
    color: variables.$white;
    background-color: variables.$brown;
    border: none;
  }
  ::placeholder {
      color: variables.$white;
      opacity: 1;
  }

  :-ms-input-placeholder {
    color: variables.$white;
  }

  ::-ms-input-placeholder {
    color: variables.$white;
  }
}

.search-field {
  height: 60px;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

.btn-remove, .btn-close {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 10px;
  transition: all 0.3s ease;
  color: variables.$white;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: variables.$white;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: all 0.3s ease;
  }
  &:hover {
    color: variables.$brown;
    &:before {
      transform: translateX(-50%) scale(1);
    }
  }
}

.btn-remove {
  right: 52px;
}

.btn-close {
  right: 10px;
}

.search-results-list {
  width: 100%;
  // 타이틀 고정용 - 필요 없으면 아래 height: 100vh로 변경 (근데 검색화면은 너무커서 그냥 줄여둬도 괜찮을지도...)
  // 필요 없으면 아래 box-shadow 삭제 (근데 구분선이 필요할 것 같은데...)
  // height: 35vh;
  // box-shadow: 0 5px 10px rgba(141, 72, 1, 0.3);
  // 164px은 가장 위쪽헤더 60px + 카테고리 52px + 태그 52px로 이루어져있다.
  height: calc(100% - 164px);
  margin: 0;
  padding: 15px 15px;
  position: absolute;
  top: 164px;
  left: 0;
  text-align: left;
  list-style: none;
  overflow-y: auto;
  background-color: variables.$white;
  li {
    margin-bottom: 20px;
    border-bottom: 3px solid variables.$brown;
    border-radius: variables.$common-border-radius;
    a {
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

.template-box {
  display: flex;
}

.template-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-basis: 120px;
  flex-shrink: 1;
  .img-icon {
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}

.template-info {
  padding: 20px;
  flex-shrink: 4;
  text-decoration: none;
  color: #2d2d2d;
  transition: all 0.3s ease;
  div {
    i {
      display: inline-block;
      margin-right: 10px;
    }
    p {
      display: inline-block;
      margin: 0;
      font-family: 'Gowun Batang', serif;
    }
  }
  &:hover div p {
    cursor: pointer;
    text-decoration: underline;
  }
}

.template-subinfo {
  font-size: 14px;
}

.template-mark {
  color: variables.$brown;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .search-box {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}